
<script type="text/javascript" data-sys="1">
    sessionStorage.redirect = location.href;
    window.location = "/versata-everest-docs/";
</script>
<div class="content">
<h1 id="discontinue-a-template">Discontinue a Template</h1>

<p>When you discontinue a template, it is temporarily unavailable for selection.  The template is not deleted from the database and is merely deactivated.  A discontinued template can be made available for selection by activating  it.</p>

<p class="steps">To discontinue a template, do the following:</p>

<ul>
  <li>From the main  menu bar, select <strong>CRM 
 &gt; Business Activity Monitoring &gt; Templates</strong>. You will see  the <strong>Templates</strong> browser.</li>
  <li>From the browser,  highlight the template.</li>
  <li>Select <strong>Options &gt; Discontinue</strong>. You will be  prompted for confirmation.</li>
  <li>Click <strong>OK</strong>. The record that was selected is  no longer visible in the <strong>Templates</strong> browser.</li>
</ul>





</div>
