
<script type="text/javascript" data-sys="1">
    sessionStorage.redirect = location.href;
    window.location = "/versata-everest-docs/";
</script>
<div class="content">
<h1 id="the-template-profile---template">The Template Profile - Template</h1>

<p>Use this tab to define the text or content of your template.</p>

<dl>
  <dt><strong>Subject</strong></dt>
  <dd>Enter the subject that should be carried over along  with the letter, fax or memo.</dd>
  <dt><strong>Template Text</strong></dt>
  <dd>Enter the body text of the template you are defining.  You can define different text messages for letter, fax, memo or task/appointments  as per your requirement.</dd>
</dl>

<p class="note"><strong>You can also enter the text for the template  by clicking the **Notes</strong> icon next  to the field. You will see the <strong>Template</strong>  dialog box. Enter the body text and save.**</p>

<dl class="see_also">
  <dt>See also</dt>
  <dd><a href="/versata-everest-docs/everest-crm/standard-crm/bam/templates/the_templates_profile.html">The Templates  Profile</a></dd>
</dl>




</div>
