---
title: Address Verification
---

# Address Verification


Address Verification Service (AVS)  verifies the cardholder's address to prevent fraud in card-not-present  transactions where the card holder is not present during the transaction  (e.g. mail order, telephone order, internet, etc.). This address may be  different from the customer's billing address. Address verification is  used only in the United States.


{:.see_also}
See also
: [Commonly  Used Terms in Credit Card Processing]({{site.sp_baseurl}}/sales-docs/sales-orders/so-proc/pmts-refunds/cc-pmts/commonly_used_terms_in_credit_card_processing.html)
